/* ********************************************************************** *\
 *         Copyright IBM Corporation 1988,1991 - All Rights Reserved      *
 *        For full copyright information see:'andrew/doc/COPYRITE'        *
\* ********************************************************************** */

XCOMM
XCOMM The following comes from presite.h
XCOMM
#include <presite.h>

XCOMM 
XCOMM  The following comes from the macro file
XCOMM 

/* #if defined(i386) && defined(linux) */
#if defined(linux)
#include <ix86_Linux/system.mcr>
#define MacroIncludeFile ix86_Linux/system.mcr
#endif /* Linux */

XCOMM 
XCOMM  Back from the macro file
XCOMM 
